<div class="container" *ngIf="!isLoading">
  <mat-form-field>
    <mat-label>איזור</mat-label>
    <mat-select (selectionChange)="onAreaSelected($event)">
        <mat-option [value]="'הכל'">כל האזורים</mat-option>
        <mat-option *ngFor="let area of areas" [value]="area">{{ area }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="inputDiv">
    הזן שם עיר 
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchUpdate()">
  </div>

  <div class="card" *ngFor="let g of garageList">
    <div class="name">שם המוסך: <span class="bold">{{ g.Name }}</span></div>
    <div class="name">כתובת המוסך: <span class="bold">{{ g.Address }}</span></div>
    <div class="name">עיר: <span class="bold">{{ g.City }}</span></div>
  </div>

</div>
<app-loader [isLoading]="isLoading"></app-loader>